@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --border: 229 16.4% 64.9%;
  --ring: 16 100% 50%;
  --background: 217 32.6% 17.5%;
  --foreground: 210 40% 96%;
  --muted: 215 16% 35%;
  --muted-foreground: 215 10% 55%;
  --primary: 22 100% 50%;
  --primary-foreground: 210 40% 98%;
}

.dark {
  --border: 229 16.4% 64.9%;
  --ring: 16 100% 50%;
  --background: 217 32.6% 17.5%;
  --foreground: 210 40% 96%;
  --muted: 215 16% 35%;
  --muted-foreground: 215 10% 55%;
  --primary: 22 100% 50%;
  --primary-foreground: 210 40% 98%;
}

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --color-border: hsl(var(--border));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
}

@layer base {
  body {
    background-color: rgb(15, 23, 42);
    color: rgb(255, 255, 255);
  }
}
